section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 3;
}

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 2em;
}

.fecha {
  display: flex;
}

.Fecha {
  border-radius: 20px;
  padding: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Hora {
  border-radius: 20px;
  padding: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2px;
}

button {
  background-color: aquamarine;
  padding: 6px;
  border-radius: 15px;
  top: 0px
}

button:hover {
  background-color: aqua;
  cursor: pointer;
}

#titleChange {
  text-align: center;
}